a.btn {
  color: #fff !important;
  text-decoration: none !important;
  &:hover {
    color: #fff !important;
  }
}

.btn-secondary, .btn-warning, .btn-danger {
  color: #fff !important;
  &:hover {
    color: #fff !important;
  }
}
