@mixin nth-icon($formula, $color) {
  &:nth-child(#{$formula}) {
    // &:before {
    //   background: transparent;
    // }
    &:hover {
      // &:before {
      //   background: $color;
      // }
      color: $color !important;
    }
  }
}

.coin-icon {
  display: block;
  color: #fff !important;
  font-size: 1.3rem;
  text-decoration: none !important;
  @extend .mb-4 ;

  // &:before {
  //   content: "\00a0";
  //   display: inline-block;
  //   width: 0.5rem;
  //   height: 100%;
  //   margin-right: 0.75rem;
  // }

  span {
    @extend .mr-1 ;
  }

  @include nth-icon('4n+2', $secondary)
  @include nth-icon('4n+3', $green)
  @include nth-icon('4n+0', $yellow)
  @include nth-icon('4n+1', $blue)
}
